@import url(./font.css);

:root {
    --text-color:#5F5F5F;
    --link-color:#787878;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Montserrat";
    font-weight: 400;
    height: 100vh;
    overflow: hidden;
}

.container {
    margin: 0 80px auto;
    max-width: 1370px;
}

header {
    padding: 35px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

h2 {
    font-size: 28px;
    color: #5F5F5F;
}

nav {
    display: flex;
    align-items: center;
    gap: 70px;
}

.nav-links {
    color: var(--link-color);
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.nav-links:hover {
    color: rgb(0, 0, 0);
}

section {
    position: relative;
    height: calc(100vh - 105px);
    background-image: url(../assets/images/Background.svg);
    z-index: -2;
    background-position: center;
    background-size: cover;
}

section .container {
    padding-top: 60px;
}

.rbt {
    font-family: "Roboto";
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 3px;
    margin-bottom: 25px;
}

h1 {
    text-transform: uppercase;
    font-size: 64px;
    color: #444;
    margin-bottom: 20px;
}

span {
    font-family: "Montserrat";
    font-weight: 400;
}

.info-txt {
    font-size: 14px;
    font-weight: 500;
    color: #656565;
    line-height: 26px;
    margin-bottom: 50px;
}

button {
    display: flex;
    align-items: center;
    gap: 22px;
    padding: 14px 50px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    font-size: 18px;
    font-weight: 600;
    color: #79BCCF;
    letter-spacing: 1px;
    box-shadow: 0 7px 20px 0 rgba(121, 188, 207, 0.4);
    cursor: pointer;
}

.imgs {
    display: flex;
    align-items: center;
    gap: 36px;
    padding-top: 100px;
}

.main-img {
    position: absolute;
    top: 10px;
    right: 20px;
}

.preview {
    position: absolute;
    bottom: 10px;
    right: 426px;
    padding-right: 34px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 10px 25px 0 rgba(152, 196, 228, 0.35);
    background: #fff;
}

.preview .aqua-jacket {
    margin-top: -30px;
}

.prices {
    display: flex;
    align-items: end;
    gap: 16px;
}

.old-price {
    text-decoration:line-through red;
    font-size: 12px;
}

.black-jacket {
    position: absolute;
    bottom: 10px;
    right: 248px;
}

.pink-jacket {
    position: absolute;
    bottom: 10px;
    right: 56px;
}

.lines {
    position: absolute;
    right: 75px;
    bottom: -10px;
    z-index: -1;
}